.hard {
    width: calc(100%/7); 
    
    aspect-ratio: 1;
}

.medium{
    width: calc(100%/9); 
    
    aspect-ratio: 1;
}
.easy {
    width: calc(100%/10); 
    
    aspect-ratio: 1;
}

.opacity_bg {
    opacity: 0.5;
}


.cell {

    border: 1px solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_lightblue {
    background-color: lightblue
}


#app_main {
    background-color:antiquewhite; 
    
}


#alert {
    width: 500px;
    aspect-ratio: 1;
    background-color: yellow;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate( -50%, 50%);
    z-index: 10000;
   
}